VITE_SUPABASE_URL=https://pjiufxvhzachxvbnlcnm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqaXVmeHZoemFjaHh2Ym5sY25tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwNzMxNDMsImV4cCI6MjEwMTY0OTE0M30.CEB624vUfBySq7e3dio4LXnxrQCm679h_dgdnbvwX7g
VITE_API_URL=http://localhost:4000
